.content4{
    display: none;
    position: absolute;
    margin-left: 17%;
    top: 10%;
    width: 83%;
    height: 90%;
}

#leftbutton4 {
    background-color: #468662;
    font-family: 'Source Serif Pro';
    font-size: 16px;
    color: white;
    position: absolute;
    left: 3%;
    top: 4%;
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#leftbutton4:hover {
    background-color: #00CC08;
}

#leftbutton4 img{
    width: 25px;
    height: auto;
    margin-right: 10px;
}

#searchBar4 {
    position: absolute;
    top: 4%;
    right: 2%;
    width: 250px;
    height: 40px;
    background-image: url('../assets/images/searchicon.png');
    background-size: 25px 25px;
    background-color: #484848;
    font-family: 'Source Serif Pro';
    font-size: 15px;
    color: white;
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.content4 table {
    margin-left: 35px;
    margin-top: 4%;
    width: 95%;
    border-collapse: collapse;
    text-align: center;
}

.content4 th {
    border: 1px solid #ddd;
    background-color: gray;
    color: white;
    padding: 10px;
}

.content4 th:first-child {
    width: 50px;
}

.content4 th:nth-child(2) {
    width: 150px;
}

.content4 th:nth-child(3) {
    width: 300px;
}

.content4 th:nth-child(4) {
    width: 300px;
}

.content4 th:nth-child(5) {
    width: 200px;
}

.content4 th:nth-child(6) {
    width: 150px;
}

.content4 td {
    border: 1px solid #ddd;
    padding: 10px;
    color: white;
}