*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('../assets/dashboardbg.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

.kiri{
    position: absolute;
    left: 0;
    width: 17%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #928F8E;
}

.kiri img{
    position: relative;
    top: -2%;
    height: 100px;
    width: 100%;
}

.kiri button {
    width: 255px;
    height: 50px;
    background-color: transparent;
    color: white;
    font-family: 'Source Serif Pro';
    font-size: 20px;
    border: none;
    margin: 10px 0;
    cursor: pointer;
}

.kiri button.active {
    width: 255px;
    height: 50px;
    background-color: transparent;
    color: white;
    font-family: 'Source Serif Pro';
    font-size: 20px;
    border: none;
    margin: 10px 0;
    cursor: pointer;
    background-color: #928F8E;
}

.kiri button:hover {
    background-color: #928F8E;
}

#btn1, #btn2, #btn3, #btn4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn1 img, #btn2 img, #btn3 img, #btn4 img{
    width: 25px;
    height: auto;
    margin-right: 10px;
}

#logout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px;
    background-color: #A43F39;
    color: #fff;
    font-family: 'Source Serif Pro';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: 30px;
}

#logout img{
    width: 25px;
    height: auto;
    margin-right: 10px;
}

#logout:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px;
    background-color: red;
    color: #fff;
    font-family: 'Source Serif Pro';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: 30px;
}

.atas{
    position: absolute;
    margin-left: 17%;
    top: 0;
    width: 83%;
    height: 10%;
    border: 1px solid #928F8E;
    border-top: none;
    border-right: none;
    border-left: none;
}

.atas h1{
    position: relative;
    top: 25%;
    left: 3%;
    font-family: 'Source Serif Pro';
    font-size: 30px;
    color: white;
}

.atas img{
    position: relative;
    width: 50px;
    top: -35%;
    left: 85%;
}

.atas .username {
    position: relative;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    top: -115%;
    left: 90%;
}

.atas .role {
    position: relative;
    font-size: 0.9em;
    color: gray;
    margin-bottom: 10px;
    top: -125%;
    left: 90%;
}

.content1{
    display: none;
    position: absolute;
    margin-left: 39%;
    top: 13%;
    width: 83%;
    height: 90%;
}

.form-group{
    font-weight: bold;
    color: #928F8E;
    font-family: 'Source Serif Pro';
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 25px;
}

.input-group-avatar img{
    width: 10%;
}

.input-group-avatar, .input-group-2, .input-group-nick, .input-group-name, .input-group-pw, .input-group-place, .input-group-detail, .input-group-time, .input-group-image{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
}

.input-group-avatar p{
    margin-right: 140px;
}

.input-group-nick p{
    margin-right: 50px;
}

.input-group-name p{
    margin-right: 79px;
}

.input-group-pw p{
    margin-right: 53px;
}

input[type="text"], input[type="password"] {
    align-items: center;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #373737;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}

.file-upload-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #403E3E;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin: auto;
    position: relative;
    left: -25%;
    font-size: 16px;
}

.file-upload-button:hover{
    display: inline-block;
    padding: 10px 20px;
    background-color: #807C7C;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin: auto;
    position: relative;
    left: -25%;
    font-size: 16px;
}

.content1 input[type="submit"]{
    align-items: center;
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #A43F39;
    cursor: pointer;
    color: white;
    font-family: 'Source Serif Pro';
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.content1 input[type="submit"]:hover{
    align-items: center;
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #00CC08;
    cursor: pointer;
    color: white;
    font-family: 'Source Serif Pro';
    font-size: 16px;
    font-weight: bold;
}

.content2{
    display: none;
    position: absolute;
    margin-left: 17%;
    top: 10%;
    width: 83%;
    height: 90%;
}

#leftbutton {
    background-color: #468662;
    font-family: 'Source Serif Pro';
    font-size: 16px;
    color: white;
    position: absolute;
    left: 3%;
    top: 4%;
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#leftbutton:hover {
    background-color: #00CC08;
}

#leftbutton img{
    width: 25px;
    height: auto;
    margin-right: 10px;
}

#searchBar {
    position: absolute;
    top: 4%;
    right: 2%;
    width: 250px;
    height: 40px;
    background-image: url('../assets/searchicon.png');
    background-size: 25px 25px;
    background-color: #484848;
    font-family: 'Source Serif Pro';
    font-size: 15px;
    color: white;
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.content2 table {
    margin-left: 35px;
    margin-top: 8%;
    width: 95%;
    border-collapse: collapse;
    text-align: center;
}

.content2 th {
    border: 1px solid #ddd;
    background-color: gray;
    color: white;
    padding: 10px;
}

.content2 th:first-child {
    width: 50px;
}

.content2 th:nth-child(2) {
    width: 350px;
}

.content2 th:nth-child(3) {
    width: 350px;
}

.content2 th:nth-child(4) {
    width: 200px;
}

.content2 td {
    border: 1px solid #ddd;
    padding: 10px;
    color: white;
}

.action-img {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.content2-1{
    display: none;
    position: absolute;
    margin-left: 39%;
    top: 13%;
    width: 83%;
    height: 90%;
    overflow: hidden;
}

.input-group-place p, .input-group-detail p, .input-group-time p, .input-group-image p{
    margin-right: 50px;

}

.timeline-upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #403E3E;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin: auto;
    font-size: 16px;
    width: 30.5%;
    height: 40px;
    border-radius: 5px;
    position: relative;
    right: 31.5%;
}

.timeline-upload-button:hover {
    background-color: #807C7C;
}

.content2-1 input[type="submit"]{
    align-items: center;
    width: 38%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #468662;
    cursor: pointer;
    color: white;
    font-family: 'Source Serif Pro';
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.content2-1 input[type="submit"]:hover{
    align-items: center;
    width: 38%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #00CC08;
    cursor: pointer;
    color: white;
    font-family: 'Source Serif Pro';
    font-size: 16px;
    font-weight: bold;
}

textarea {
    align-items: center;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #373737;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}

.content3{
    display: none;
    position: absolute;
    margin-left: 17%;
    top: 10%;
    width: 83%;
    height: 90%;
}

.content4{
    display: none;
    position: absolute;
    margin-left: 17%;
    top: 10%;
    width: 83%;
    height: 90%;
}