body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url('../assets/images/main-bg.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

.eldiandesc{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.eldiandesc::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../assets/images/eldianbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.text{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: fit-content;
    z-index: 2;
}

.text::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 18%;
    height: 100%;
    width: 65%;
    background-image: url('../assets/images/main-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: -1;
}

.eldiandesc img{
    position: absolute;
    top: -1%;
    right: 41%;
    width: 8%;
}

.text h1{
    color: #851d1e;
    font-family: 'Source Serif Pro';
    font-size: 50px;
    text-align: center;
    width: 70%;
    position: relative;
    top: 18px;
    margin-bottom: 10px;
    padding-top: 20px;
    margin-right: 130px;
}

.text p{
    color: #928F8E;
    font-family: 'Source Serif Pro';
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 60%;
    margin-bottom: 20px;
}

.eldianchar{
    display: flex;
    background-image: url('../assets/images/path.png');
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
}

.eldiandesc, .eldianchar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.upperimage{
    position: absolute;
    top: 15%;
    left: 0;
    z-index: 2;
}

.upperimage img img{
    width: 80%;
    height: auto;
}

.sub-title{
    position: absolute;
    top: 47%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Source Serif Pro';
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 25px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
}

.item p {
    text-align: center;
    color: white;
    margin: 0;
}
