body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../assets/images/main-bg.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    z-index: 5;
}